@charset "UTF-8";
/*---------------------------------------------------

============ Main - Proyecto ============
* Nombre del proyecto: Pagos en línea
* Nombre del archivo: s-pagos-pse.css
* Descripción: Hoja de estilos para los productos de la página Pagos en línea
* Autor: One-click

---------------------------------------------------*/

/*a { text-decoration: none; color: inherit; }

a:hover, a:focus  { text-decoration: none; }*/

button:focus , button:hover , .button:hover { color: #fff; }

ol, ul { list-style: none; }

img { padding: 0; margin: 0; border: 0; }

h2 strong{
  font-weight: bold;
}

.contButtons {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 20px 0; }
  .contButtons.contButtons--noMrgn {
    margin: 0 0; }
    .contButtons.contButtons--noMrgn .button {
      margin: 0; }
  .contButtons.contButtons--sameWidth {
    font-size: 0;
    box-sizing: border-box; }
    .contButtons.contButtons--sameWidth .button {
      width: 43%;
      margin: 0 2% 20px; }

.button {
  display: inline-block;
  width: 70%;
  max-width: 160px;
  max-height: 32px;
  margin: 0 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "HelveticaNeueLTStdBdCn";
  color: #fff;
  text-align: center;
  padding: 7px 15px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: inherit;
  background-color: #939393;
  letter-spacing: 0;
  }
  .button:hover {
    background-color: #848484; }
  .button--back {
    display: none; }
  .button--secondary {
    background-color: #939393; }
    .button--secondary:hover {
      background-color: #848484; }
  .button--primary {
    background-color: #dd141d; }
    .button--primary:hover {
      background-color: #c7121a; }

section.content div.descripcion p{
  font-size: 16px;
}

.productos-pse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
   }
  .productos-pse .producto {
    max-width: 335px;
    min-height: 150px;
    display: flex;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #fff; }
    .productos-pse .producto .producto__imagen {
      width: 35%;
      overflow: hidden;
      border-top-left-radius: 0% 0%;
      border-top-right-radius: 10% 50%;
      border-bottom-right-radius: 10% 50%;
      border-bottom-left-radius: 0% 0%;
      box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.4); }
      .productos-pse .producto .producto__imagen img {
        position: relative;
        width: 200%;
        height: 100% !important;
        left: -30px; }
    .productos-pse .producto .producto__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      padding-bottom: 15px; }
      .productos-pse .producto .producto__text .title {
        color: #fff;
        font-size: 14px;
        text-align: left;
        background: #9d9d9d;
        padding: 5px 20px;
        border-radius: 0 7px 0 7px;
        margin: 0 0 14px 0;
        font-family: "HelveticaNeueLTStdThCn";
        width: 100%;
        }
        .productos-pse .producto .producto__text .title strong {
          font-family: "HelveticaNeueLTStdThCn"; }
        .productos-pse .producto .producto__text .title br{
          display: none;
        }
      .productos-pse .producto .producto__text ul {
        margin-bottom: 19px;
        padding-right: 10px; }
        .productos-pse .producto .producto__text ul li {
          color: #6D6D71;
          display: flex;
          justify-content: center;
          align-items: baseline;
          text-align: left;
          font-size: 12px;
          font-family: "HelveticaNeueLTStdThCn";
          line-height: 13px; }
          .productos-pse .producto .producto__text ul li img {
            height: auto !important;
            width: 5px;
            margin-right: 10px; }


@media (min-width: 45em) {
 
  .productos-pse {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-gap: 0;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding-bottom: 100px;
    }
    .productos-pse .producto {
      flex-direction: column;
      max-width: initial;
      border-radius: 30px;
      box-shadow: initial;
      height: 439px;
      border: 3px solid #E5E5E5;
      background-color: #f1f1f1;
      margin: 0 15px 20px;
      padding-bottom: 15px; }
      .productos-pse .producto .producto__imagen {
        width: 100%;
        height: auto;
        border-radius: 0;
        box-shadow: initial;
        border-top-left-radius: 0% 0%;
        border-top-right-radius: 0% 0%;
        border-bottom-right-radius: 33% 10%;
        border-bottom-left-radius: 76% 20%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.6); }
        .productos-pse .producto .producto__imagen img {
          width: 100%;
          height: auto;
          left: 0px; }
      .productos-pse .producto .producto__text {
        justify-content: space-between;
        height: 68%;
        padding: 20px 28px 0; }
        .productos-pse .producto .producto__text .title {
          color: #6D6D71;
          background: initial;
          text-align: center;
          font-size: 28px;
          margin: 0;
          padding: 20px 5px; }
          .productos-pse .producto .producto__text .title strong {
            font-family: "HelveticaNeueLTStdBdCn"; }
          .productos-pse .producto .producto__text .title br{
            display: block;
          }
        .productos-pse .producto .producto__text ul {
          padding: 0; }
          .productos-pse .producto .producto__text ul li {
            text-align: center;
            font-size: 14px;
            line-height: 16px; }
          .productos-pse .producto .producto__text ul img {
            display: none; }

  .cabeceraContent {
    background-size: 80.3% 100%;
    height: 212px; }

  .button {
    display: inline-block;
    width: auto;
    height: 36px;
    max-height: initial;
    padding: 0 14px 0;
    border-radius: 10px;
    box-shadow: inset 0 -4px 0 0 #ad0000; }

}
  
/* Portrait and Landscape */
@media (max-width: 600px) {
  .contButtons .button {
    font-size: 16px; } }
@media (max-width: 430px) {
  .container .container--intBackGray {
    padding: 10px; }

  form .input .radio.radio--optionCard {
    padding: 10px 70px 10px 10px; }
    form .input .radio.radio--optionCard .optionCard__image {
      width: 50px; }
    form .input .radio.radio--optionCard .optionCard__info span {
      margin-bottom: 5px; }

 }
@media (max-width: 360px) {
  .productos-pse .producto .producto__imagen {
    width: 30%;
    }
  .productos-pse .producto .producto__text {
    padding-left: 15px;
    }
    .productos-pse .producto .producto__text ul {
      margin-bottom: 14px;
      /* width: 100%; */
      padding: 0;
      padding-right: 10px;
      }

  .contButtons .button {
    font-size: 14px; } }
@media (max-width: 319px) {
  .contButtons .button {
    font-size: 4vw;
    padding: 2vw 4vw; } }

